{% extends "base.html" %}
{% block extrahead %}
  {% if page.meta and page.meta['background-animation'] == 'neural-v1' %}
    <script src="{{ 'assets/javascripts/neural.js' | url }}" defer></script>
  {% elif page.meta and page.meta['background-animation'] == 'neural-v2' %}
    <script src="{{ 'assets/javascripts/neural-v2.js' | url }}" defer></script>
  {% endif %}
  {% if page.meta and page.meta.editor %}
    <script src="{{ 'assets/javascripts/editor.js' | url }}" defer></script>
  {% endif %}
  {% if page.meta and page.meta.groove %}
    <script src="{{ 'assets/javascripts/groove.js' | url }}"></script>
  {% endif %}
{% endblock %}
