/* ============================================================================
   Groove widget — transparent background
   ============================================================================ */

#groove-container-4ac3a72b-1852-4939-a8bf-7c3abd82d633 {
  background: transparent !important;
}

#groove-iframe-element {
  background: transparent !important;
  color-scheme: light !important;
}
